
body {
  margin: 0;
  font-family: ''Roboto'', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #00171f;
  --white: #ffffff;
  --blue-charcoal: #00171f;
  --prussian-blue: #003459;
  --deep-cerulean: #007ea7;
  --picton-blue: #00a8e8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  color: white;
  font-family: ''Roboto'', sans-serif;
}
h3{
  color: white;
  font-family: ''Roboto'', sans-serif;
}

.quizz{
  display: flex;
  justify-content: space-around;
  background: '--deep-cerulean';
}

