
body {
  margin: 0;
  font-family: ''Roboto'', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  color: white;
  font-family: ''Roboto'', sans-serif;
}
h3{
  color: white;
  font-family: ''Roboto'', sans-serif;
}

.quizz{
  display: flex;
  justify-content: space-around;
  background: 'grey';
}
